<!DOCTYPE html>
<html lang="en">
<head>j
    <meta charset="UTF-8">
    <title>Electronic ScoreBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>






<body>
<style>
    body {
        background-color: cadetblue;
    }






</style>
</head>

<form action="/add-score" method="post">
    <input type="text" placeholder="Away" name="scoreText"/>
    <input type="text" placeholder="Home" name="scoreText"/>
    <button type="submit">Save</button>
</form>

<form action="/add-outs" method="post">
    <input type="text" placeholder="Enter Outs" name="outsText"/>
    <button type="submit">Save</button>
</form>

<form action="/game-count" method="post">
    <select name="countText">
        <option value="balls">Balls</option>
        <option value="strikes">Strikes</option>
    </select>
    <button type="submit">Save</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Home</h3>
        </div>
        <div class="col-sm-4">
            <h3>Score</h3>
            {{scores.away}}
            {{scores.home}}
        </div>
        <div class="col-sm-4">
            <h3>Away</h3>
        </div>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Pitch Count</h3>
            {{pitcher.pitchCount}}
        </div>
        <div class="col-sm-4">
            <h3>Innings</h3>
            {{innings.outs}}
        </div>

    </div>
</div>



</body>





<footer class="container-fluid text-center">

</footer>


</html>