<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Score Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        body {
            background-image: url("10371372_10152498104070797_5717492031693113242_n.jpg");




        }

        h1{
            position: relative;

            color: whitesmoke;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-large;
        }

        body{
            margin: auto;

        }


    </style>
</head>


<body>


<form action="/home-player" method="post">
    <div class="container">
        <h1>Away</h1>
        <hr>
        <form class="form-horizontal">
            <div class="form-group">
                <input type="text" placeholder="Player name" name="playerText"/>
    <input type="text" placeholder="#" name="playerNumber"/>
    <input type="text" placeholder="Position" name="positionText"/>
    <input type="text" placeholder="Position#" name="positionNumber"/><br>
    <input type="text" placeholder="Player name" name="playerText1"/>
    <input type="text" placeholder="#" name="playerNumber1"/>
    <input type="text" placeholder="Position" name="positionText1"/>
    <input type="text" placeholder="Position#" name="positionNumber1"/><br>
    <input type="text" placeholder="Player name" name="playerText2"/>
    <input type="text" placeholder="#" name="playerNumber2"/>
    <input type="text" placeholder="Position" name="positionText2"/>
    <input type="text" placeholder="Position#" name="positionNumber2"/><br>
    <input type="text" placeholder="Player name" name="playerText3"/>
    <input type="text" placeholder="#" name="playerNumber3"/>
    <input type="text" placeholder="Position" name="positionText3"/>
    <input type="text" placeholder="Position#" name="positionNumber3"/><br>
    <input type="text" placeholder="Player name" name="playerText4"/>
    <input type="text" placeholder="#" name="playerNumber4"/>
    <input type="text" placeholder="Position" name="positionText4"/>
    <input type="text" placeholder="Position#" name="positionNumber4"/><br>
    <input type="text" placeholder="Player name" name="playerText5"/>
    <input type="text" placeholder="#" name="playerNumber5"/>
    <input type="text" placeholder="Position" name="positionText5"/>
    <input type="text" placeholder="Position#" name="positionNumber5"/><br>
    <input type="text" placeholder="Player name" name="playerText6"/>
    <input type="text" placeholder="#" name="playerNumber6"/>
    <input type="text" placeholder="Position" name="positionText6"/>
    <input type="text" placeholder="Position#" name="positionNumber6"/><br>
    <input type="text" placeholder="Player name" name="playerText7"/>
    <input type="text" placeholder="#" name="playerNumber7"/>
    <input type="text" placeholder="Position" name="positionText7"/>
    <input type="text" placeholder="Position#" name="positionNumber7"/><br>
    <input type="text" placeholder="Player name" name="playerText8"/>
    <input type="text" placeholder="#" name="playerNumber8"/>
    <input type="text" placeholder="Position" name="positionText8"/>
    <input type="text" placeholder="Position#" name="positionNumber8"/><br>
                <input type="text" placeholder="Pitcher Name" name="playerText18"/>
                <input type="text" placeholder="#" name="playerNumber18"/>
                <input type="text" placeholder="Position" name="positionText18"/>
                <input type="text" placeholder="Position#" name="positionNumber18"/><br>

                <div class="container">
                    <h1>Home</h1>
                    <hr>
                    <form class="form-horizontal">
                        <div class="form-group">

    <input type="text" placeholder="Player name" name="playerText9"/>
                <input type="text" placeholder="#" name="playerNumber9"/>
    <input type="text" placeholder="Position" name="positionText9"/>
    <input type="text" placeholder="Position#" name="positionNumber9"/><br>
    <input type="text" placeholder="Player name" name="playerText10"/>
    <input type="text" placeholder="#" name="playerNumber10"/>
    <input type="text" placeholder="Position" name="positionText10"/>
    <input type="text" placeholder="Position#" name="positionNumber10"/><br>
    <input type="text" placeholder="Player name" name="playerText11"/>
    <input type="text" placeholder="#" name="playerNumber11"/>
    <input type="text" placeholder="Position" name="positionText11"/>
    <input type="text" placeholder="Position#" name="positionNumber11"/><br>
    <input type="text" placeholder="Player name" name="playerText12"/>
    <input type="text" placeholder="#" name="playerNumber12"/>
    <input type="text" placeholder="Position" name="positionText12"/>
    <input type="text" placeholder="Position#" name="positionNumber12"/><br>
    <input type="text" placeholder="Player name" name="playerText13"/>
    <input type="text" placeholder="#" name="playerNumber13"/>
    <input type="text" placeholder="Position" name="positionText13"/>
    <input type="text" placeholder="Position#" name="positionNumber13"/><br>
    <input type="text" placeholder="Player name" name="playerText14"/>
    <input type="text" placeholder="#" name="playerNumber14"/>
    <input type="text" placeholder="Position" name="positionText14"/>
    <input type="text" placeholder="Position#" name="positionNumber14"/><br>
    <input type="text" placeholder="Player name" name="playerText15"/>
    <input type="text" placeholder="#" name="playerNumber15"/>
    <input type="text" placeholder="Position" name="positionText15"/>
    <input type="text" placeholder="Position#" name="positionNumber15"/><br>
    <input type="text" placeholder="Player name" name="playerText16"/>
    <input type="text" placeholder="#" name="playerNumber16"/>
    <input type="text" placeholder="Position" name="positionText16"/>
    <input type="text" placeholder="Position#" name="positionNumber16"/><br>
    <input type="text" placeholder="Player name" name="playerText17"/>
    <input type="text" placeholder="#" name="playerNumber17"/>
    <input type="text" placeholder="Position" name="positionText17"/>
    <input type="text" placeholder="Position#" name="positionNumber17"/><br>
                            <input type="text" placeholder="Pitcher Name" name="playerText19"/>
                            <input type="text" placeholder="#" name="playerNumber19"/>
                            <input type="text" placeholder="Position" name="positionText19"/>
                            <input type="text" placeholder="Position#" name="positionNumber19"/><br>
    <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</form>

{{#player}}
{{name}}
{{/player}}
{{#playerList}}
{{name}}
{{/playerList}}


</body>
</html>