<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electronic ScoreBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/scorebook.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<a href="home.html"/>
<a href="player.html"/>





<body>
<style>
    body {
        background-color: cadetblue;
    }






</style>
</head>
<form action="/home-player" method="post">
    <input type="text" placeholder="Player name" name="playerText"/>
    <input type="text" placeholder="#" name="playerNumber"/>
    <input type="text" placeholder="Position" name="positionText"/>
    <input type="text" placeholder="Position#" name="positionNumber"/><br>
    <input type="text" placeholder="Player name" name="playerText1"/>
    <input type="text" placeholder="#" name="playerNumber1"/>
    <input type="text" placeholder="Position" name="positionText1"/>
    <input type="text" placeholder="Position#" name="positionNumber1"/><br>
    <input type="text" placeholder="Player name" name="playerText2"/>
    <input type="text" placeholder="#" name="playerNumber2"/>
    <input type="text" placeholder="Position" name="positionText2"/>
    <input type="text" placeholder="Position#" name="positionNumber2"/><br>
    <input type="text" placeholder="Player name" name="playerText3"/>
    <input type="text" placeholder="#" name="playerNumber3"/>
    <input type="text" placeholder="Position" name="positionText3"/>
    <input type="text" placeholder="Position#" name="positionNumber3"/><br>
    <input type="text" placeholder="Player name" name="playerText4"/>
    <input type="text" placeholder="#" name="playerNumber4"/>
    <input type="text" placeholder="Position" name="positionText4"/>
    <input type="text" placeholder="Position#" name="positionNumber4"/><br>
    <input type="text" placeholder="Player name" name="playerText5"/>
    <input type="text" placeholder="#" name="playerNumber5"/>
    <input type="text" placeholder="Position" name="positionText5"/>
    <input type="text" placeholder="Position#" name="positionNumber5"/><br>
    <input type="text" placeholder="Player name" name="playerText6"/>
    <input type="text" placeholder="#" name="playerNumber6"/>
    <input type="text" placeholder="Position" name="positionText6"/>
    <input type="text" placeholder="Position#" name="positionNumber6"/><br>
    <input type="text" placeholder="Player name" name="playerText7"/>
    <input type="text" placeholder="#" name="playerNumber7"/>
    <input type="text" placeholder="Position" name="positionText7"/>
    <input type="text" placeholder="Position#" name="positionNumber7"/><br>
    <input type="text" placeholder="Player name" name="playerText8"/>
    <input type="text" placeholder="#" name="playerNumber8"/>
    <input type="text" placeholder="Position" name="positionText8"/>
    <input type="text" placeholder="Position#" name="positionNumber8"/><br>
    <button type="submit">Submit</button>
</form>

<form action="/away-player" method="post">
    <input type="text" placeholder="Player name" name="playerText"/>
    <input type="text" placeholder="#" name="playerNumber"/>
    <input type="text" placeholder="Position" name="positionText"/>
    <input type="text" placeholder="Position#" name="positionNumber"/><br>
    <input type="text" placeholder="Player name" name="playerText1"/>
    <input type="text" placeholder="#" name="playerNumber1"/>
    <input type="text" placeholder="Position" name="positionText1"/>
    <input type="text" placeholder="Position#" name="positionNumber1"/><br>
    <input type="text" placeholder="Player name" name="playerText2"/>
    <input type="text" placeholder="#" name="playerNumber2"/>
    <input type="text" placeholder="Position" name="positionText2"/>
    <input type="text" placeholder="Position#" name="positionNumber2"/><br>
    <input type="text" placeholder="Player name" name="playerText3"/>
    <input type="text" placeholder="#" name="playerNumber3"/>
    <input type="text" placeholder="Position" name="positionText3"/>
    <input type="text" placeholder="Position#" name="positionNumber3"/><br>
    <input type="text" placeholder="Player name" name="playerText4"/>
    <input type="text" placeholder="#" name="playerNumber4"/>
    <input type="text" placeholder="Position" name="positionText4"/>
    <input type="text" placeholder="Position#" name="positionNumber4"/><br>
    <input type="text" placeholder="Player name" name="playerText5"/>
    <input type="text" placeholder="#" name="playerNumber5"/>
    <input type="text" placeholder="Position" name="positionText5"/>
    <input type="text" placeholder="Position#" name="positionNumber5"/><br>
    <input type="text" placeholder="Player name" name="playerText6"/>
    <input type="text" placeholder="#" name="playerNumber6"/>
    <input type="text" placeholder="Position" name="positionText6"/>
    <input type="text" placeholder="Position#" name="positionNumber6"/><br>
    <input type="text" placeholder="Player name" name="playerText7"/>
    <input type="text" placeholder="#" name="playerNumber7"/>
    <input type="text" placeholder="Position" name="positionText7"/>
    <input type="text" placeholder="Position#" name="positionNumber7"/><br>
    <input type="text" placeholder="Player name" name="playerText8"/>
    <input type="text" placeholder="#" name="playerNumber8"/>
    <input type="text" placeholder="Position" name="positionText8"/>
    <input type="text" placeholder="Position#" name="positionNumber8"/><br>
    <button type="submit">Submit</button>

</form>
</body>
</html>