<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <style>
        body {
            background-image: url("baseball-155990_1280.png");
            background-repeat: round;

        }

        h1{
            position: relative;
            right: 30px;
            color: blue;
            font-style: italic;
            font-family: Arial, Helvetica, sans-serif;
        }


        div{

            font-family: "Times New Roman", Times, serif;


        }

    </style>




</head>
<body>
<script>
    document.write(Date());
</script>

<div class="container">
    <form action="/add-score" method="post">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Score:</label>
                <div class="col-sm-10">
        <input type="text" placeholder="Away" name="scoreText"/>
        <input type="text" placeholder="Home" name="scoresText"/>
        <button type="submit">Save</button>
            </div>
            </div>

        </form>
    </form>

</div>




<div class="container">
    <form action="/pitcher" method="post">
        <form class="form-horizontal">
            <label class="control-label col-sm-2">Pitcher:</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" placeholder="Pitcher name" name="pitcherName"/>
                    <input type="text" placeholder="Home or Away" name="pitcherSide"/>
                    <button type="submit">Submit</button>


                </div>
            </div>
        </form>
    </form>

</div>

<div class="container">
    <form action="/game-count" method="post">
        <form class="form-horizontal">
            <label class="control-label col-sm-2">Count:</label>
            <div class="form-group">
                <div class="col-sm-10">
                    <select name="countText">
                        <option value="balls">Balls</option>
                        <option value="strikes">Strikes</option>
                    </select>
                    <button type="submit">Save</button>


                </div>
            </div>
        </form>
    </form>

</div>

<div class="container">
    <form action="/batter" method="post" id="saveCanvasForm">
        <form class="form-horizontal">
            <label class="control-label col-sm-2">Result:</label>
            <div class="form-group">
                <div class="col-sm-10">
        <select name="result">
            <option value="Single">Single</option>
            <option value="Double">Double</option>
            <option value="Triple">Triple</option>
            <option value="Home Run">Home Run</option>
            <option value="Out">Out</option>
            <option value="DP">Double Play</option>
            <option value="TP">Triple Play</option>
        </select>
        <input type="hidden" name="updatedCanvas" id="updatedCanvas" value="">
        <button type="button" onclick="updateCanvasValueAndSubmit();"> Next Batter</button>
                </div>
            </div>
    </form>


    </form>
</div>


<div id="canvasDiv"></div>

<script type="text/javascript"> $(document).ready(function() {
    prepareCanvas();
});</script>

</body>
</html>