<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 50px;
            border-radius: 200px;
            background-image: url("images.jpeg");
            background-repeat: repeat-x;
            background-color:lightgray;

        }
        div{
            border-style: outset;
            font-family: "Times New Roman", Times, serif;
            border-spacing: 15px;

        }


        img {
            display: block;
            margin: 0 auto;
        }
        body {

            background-image: url("images.jpeg");


        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>


    <form action="/add-score" method="post">

    <input type="text" placeholder="Away" name="scoreText"/>
    <input type="text" placeholder="Home" name="scoresText"/>
    <button type="submit">Save</button>
</form>
<form action="/save" method="post">
    <button type="submit">Submit</button>
</form>
    <br><br>
<form action="/add-outs" method="post">
    <input type="text" placeholder="Enter Outs" name="outsText"/>
    <button type="submit">Save</button>
</form>

    <form action="/game-count" method="post">
        <select name="countText">
            <option value="balls">Balls</option>
            <option value="strikes">Strikes</option>
        </select>
        <button type="submit">Save</button>
</form>

<form action="/add-user" method="post">
    <input type="text" placeholder="Name" name="userName"/>
    <input type="text" placeholder="Password" name="passWord"/>
    <button type="submit">Submit</button>
</form>
    <br><br>
    <div class="container-fluid bg-3 text-center">

        <div class="row">
            <div class="col-sm-4">
                <h3>Home</h3>
                <div class="panel panel-default">

                    <div class="panel-body">
                        <ol>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 7 7 7 </li>
                        <li>7 77  7 </li>
                    </ol>
                    </div>

            </div>


            </div>

            <div class="col-sm-4">
                <h3>Score</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Home 2</p>
                        <p>Away 1</p>


            </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3>Away</h3>

                <div class="panel panel-default">
                    <div class="panel-body">
                <ol>
                    <li>8 8 8 8</li>
                    <li>8 8 8 8</li>
                    <li>8 8 8 8</li>
                    <li>8 8 8 8</li>
                    <li>8 8 8 8</li>
                    <li>8 8 8 88</li>
                    <li>8 8 8 8</li>
                    <li>8 88 88 8</li>
                    <li>8 88 8 8</li>
                </ol>

            </div>
        </div>
    </div>
    </div>
        </div>
    <div id="canvasDiv"></div>
    <script type="text/javascript"> $(document).ready(function() {
        prepareCanvas();
    });</script>

    <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Pitch Count</h3>
            0
        </div>
        <div class="col-sm-4">
            <h3>Count</h3>
             0
              0
        </div>
        <div class="col-sm-4">
            <h3>Innings</h3>
            0
            1T
        </div>

    </div>
</div>


</nav>

</body>





<footer class="container-fluid text-center">

</footer>


</html>
