.navbar {
    margin-bottom: 10px;
    border-radius: 50px;
    background-image: url("wp0b9d6bda.gif");
    background-repeat: repeat-x;
    border-image-width: 50%;
}
/*td{ padding: 8px;*/
/*text-align: left;*/
/*border-bottom: 1px solid #ddd;*/
/*font-style: italic;*/

/*}*/

th{ color: white;
    font-size: x-large;
    border-color: white;
    font-style: italic;
    text-align: match-parent;
    font-family: "Times New Roman", Times, serif;

}


p{
    font-size: x-large;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}
table {
    border:  thin;
    width: 100%;
    color: whitesmoke;


}
td{
    height: 50px;
    width: 100%;
    border: thin;

    color: whitesmoke;
}
li{

    color: black;
}

div#b {
    position: fixed;
    top:40px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: url(wpc1c444a8.gif)0,0 no-repeat;}

div {

    font-family: "Times New Roman", Times, serif;
    border-spacing: 15px;



}
#canvas{
    text-align: center;
}
#canvasDiv {
    text-align: center;
}
#p01{ float: right;

}

body {
    background: linear-gradient(to bottom, #336600 0%, #ff9900 100%);
    padding-bottom: 70%;
    margin-bottom: 70%;

}
#baseball{ position: relative ;
}

#fire{ position: static;

}

img{
    text-align: center;
}
#animate { position: relative; ;  width: 500px; height: 100px; font-size: xx-large}
h1{
    font-style: italic;
    text-align: center;
    border-bottom: solid;
    border: solid;
    color: white;


}  /*}*/


h2{
    font-style: italic;
    border-bottom: solid;
    text-align: center;
    border: solid;
    color: whitesmoke;

}

#div1{
    text-align: center;
    width: 200%;
}







